{% extends "layout.html" %}

{% block submenu %}
<div class="fm-tabbar">
    <a class="fm-tab" href="/{{ lang }}/countries/{{ country_slug }}">{{ i18n.t("squad") }}</a>
    <a class="fm-tab" href="/{{ lang }}/countries/{{ country_slug }}/schedule">{{ i18n.t("schedule") }}</a>
    <a class="fm-tab active" href="/{{ lang }}/countries/{{ country_slug }}/staff">{{ i18n.t("staff") }}</a>
    <a class="fm-tab" href="/{{ lang }}/countries/{{ country_slug }}/leagues">{{ i18n.t("leagues") }}</a>
</div>
{% endblock %}

{% block content %}
<div class="fm-page">
    <section class="fm-panel">
        <div class="fm-panel-head">
            <h3>{{ i18n.t("staff") }}</h3>
            <span class="fm-panel-count">{{ staff.len() }}</span>
        </div>
        {% if staff.is_empty() %}
        <div class="fm-empty">{{ i18n.t("no_staff") }}</div>
        {% else %}
        <table class="fm-squad fm-staff-table">
            <thead>
                <tr>
                    <th class="st-name">{{ i18n.t("name") }}</th>
                    <th class="st-role">{{ i18n.t("staff_role") }}</th>
                    <th class="st-nat">{{ i18n.t("nat") }}</th>
                    <th class="st-age">{{ i18n.t("age") }}</th>
                </tr>
            </thead>
            <tbody>
                {% for member in staff %}
                <tr>
                    <td class="st-name">
                        {{ member.last_name }}{% if !member.first_name.is_empty() %}&nbsp;{{ member.first_name }}{% endif %}
                    </td>
                    <td class="st-role">{{ i18n.t(&member.role_key) }}</td>
                    <td class="st-nat">
                        <a href="/{{ lang }}/countries/{{ member.country_slug }}">
                            <span class="flag flag-{{ member.country_code }}" title="{{ member.country_name }}"></span>
                        </a>
                    </td>
                    <td class="st-age">{{ member.age }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </section>
</div>
{% endblock %}
