{% extends "countries/countries_layout.html" %}

{% block content %}
<div class="fm-page">
    <section class="fm-panel">
        <div class="fm-panel-head">
            <h3>{{ i18n.t("leagues") }}</h3>
        </div>
        {% for competition in competitions %}
        <div class="fm-league-group-hd">{{ competition.name }}</div>
        <div class="fm-league-list">
            {% for league in competition.leagues %}
            <a href="/{{ lang }}/leagues/{{ league.slug }}" class="fm-league-item">
                <i class="fa fa-trophy"></i>
                <span>{{ league.name }}</span>
            </a>
            {% endfor %}
            {% for playoff in competition.playoffs %}
            <a href="/{{ lang }}/playoffs/{{ playoff.slug }}" class="fm-league-item">
                <i class="fa fa-crown"></i>
                <span>{{ playoff.name }}</span>
            </a>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="fm-league-list">
            {% for league in leagues %}
            {% if !league.is_cup %}
            <a href="/{{ lang }}/leagues/{{ league.slug }}" class="fm-league-item">
                <i class="fa fa-trophy"></i>
                <span>{{ league.name }}</span>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
