{% extends "layout.html" %}

{% block submenu %}
<div class="fm-tabbar">
    <a class="fm-tab{% if active_tab == "overview" %} active{% endif %}" href="/{{ lang }}/players/{{ player_id }}">{{ i18n.t("overview") }}</a>
    <a class="fm-tab{% if active_tab == "personal" %} active{% endif %}" href="/{{ lang }}/players/{{ player_id }}/personal">{{ i18n.t("personal") }}</a>
    <a class="fm-tab{% if active_tab == "matches" %} active{% endif %}" href="/{{ lang }}/players/{{ player_id }}/matches">{{ i18n.t("matches") }}</a>
    <a class="fm-tab{% if active_tab == "transfers" %} active{% endif %}" href="/{{ lang }}/players/{{ player_id }}/transfers">{{ i18n.t("transfers") }}</a>
    <a class="fm-tab{% if active_tab == "decisions" %} active{% endif %}" href="/{{ lang }}/players/{{ player_id }}/decisions">{{ i18n.t("decisions") }}</a>
    <a class="fm-tab{% if active_tab == "history" %} active{% endif %}" href="/{{ lang }}/players/{{ player_id }}/history">{{ i18n.t("history") }}</a>
</div>
{% endblock %}

{% block html_title %}{% endblock %}

{% block content %}{% endblock %}

{% block scripts %}{% endblock %}
